{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "objectWrap": "collapse",
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./resources/css/app.css"
}