@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "./shadcn.css";

@layer base {
    .font-raleway {
        font-family: 'Raleway', sans-serif;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }
}

@custom-variant class-time (&[type="class-time"]);
@custom-variant name (&[type="name"]);

@layer components {
    .switch-inner-untoggled {
        display: flex;
        width: 153px;
        height: 37px;
        position: relative;
        transition: transform 0.2s ease-in-out;
        background: #CDCDCD;
        border-radius: 20px;
        z-index: 1;
    }

    .switch-inner-toggled {
        display: flex;
        width: 153px;
        height: 37px;
        position: relative;
        transition: transform 0.2s ease-in-out;
        background: #CDCDCD;
        border-radius: 20px;
        z-index: 1;
        transform: translateX(153px);
    }

    .search-input::-webkit-search-cancel-button {
        display: none;
    }

    @keyframes smooth-expanding-14px {
        from {
            width: 0;
        }
        to {
            width: 14px;
        }
    }

    @keyframes fade-in-scale {
        0% {
            opacity: 0;
            transform: scale(0.8);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
    @keyframes fade-out-scale {
        0% {
            opacity: 1;
            transform: scale(1);
        }
        100% {
            opacity: 0;
            transform: scale(0.8);
        }
    }

    .animate-fade-in-scale {
        animation: fade-in-scale 100ms ease-out forwards;
    }

    .animate-fade-out-scale {
        animation: fade-out-scale 100ms ease-in forwards;
    }
}

@theme {
    --color-iateblue: #0966BB;
    --color-whiteish: #f2f2f2;
    --color-zinc-120: oklch(95.53% 0.00175 286.36);
    --color-zinc-150: oklch(94.35% 0.0025 286.35);
    --animate-disable: disable 0.2s ease-in-out forwards;

    @keyframes disable {
        0% {
            filter: grayscale(0%) contrast(100%) brightness(100%);
        }
        100% {
            filter: grayscale(100%) contrast(50%) brightness(175%);
        }
    }
}